{% extends 'base.html.twig' %}

{% block title %}Truck index{% endblock %}

{% block body %}
    <h1>Truck index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kenteken</th>
                <th>Merk</th>
                <th>Bouwjaar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for truck in trucks %}
            <tr>
                <td>{{ truck.id }}</td>
                <td>{{ truck.kenteken }}</td>
                <td>{{ truck.merk }}</td>
                <td>{{ truck.bouwjaar ? truck.bouwjaar|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('truck_show', {'id': truck.id}) }}">show</a>
                    <a href="{{ path('truck_edit', {'id': truck.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('truck_new') }}">Create new</a>
{% endblock %}
